/* style sheet */
* {
    /* margin: 0; */
    font-family:"Source Sans Pro",Helvetica,Arial,sans-serif;
    color: #444444
}

h1 {
  text-align: center;
  font-size: 64px;
  color: Crimson;
  /*background-color: Crimson;*/
  background-image: url(images/favepic.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}

p {
  font-size: 16px;
  line-height: 24px;
}

img {
  border-radius: 100%;
}
